/*Font*/
/*Background*/
body {
  width: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center; }
  body #todo-container {
    width: 600px;
    background-color: #666666;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body #todo-container h1, body #todo-container h2 {
      text-transform: uppercase;
      font-size: 22px;
      color: #ffffff;
      text-align: center; }
    body #todo-container h2 {
      font-size: 20px;
      color: #ffffff; }
    body #todo-container .sort-button {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #545454;
      width: 60px;
      height: 30px;
      display: block;
      margin-left: auto;
      margin-right: 49px;
      border: 0;
      border-radius: 3px; }
    body #todo-container ul {
      width: 80%;
      height: auto;
      margin: auto 0;
      overflow: hidden; }
      body #todo-container ul li {
        width: 100%;
        font-size: 12px;
        list-style: none;
        color: #ffffff;
        padding: 10px;
        margin: 10px;
        margin-left: -30px;
        background-color: #6d6d6d;
        border-radius: 6px;
        text-overflow: elipsis;
        display: flex; }
        body #todo-container ul li .delete-button {
          background: transparent;
          background-image: url("../img/garbage.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%;
          border: 0px solid transparent;
          outline: none;
          margin-left: auto;
          text-decoration: none; }
    body #todo-container .add-container {
      width: 83%;
      height: 60px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: start; }
      body #todo-container .add-container #addlist-box {
        width: 450px;
        height: 45px;
        background-color: #545454;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        padding-left: 10px;
        border: 0;
        border-radius: 6px; }
      body #todo-container .add-container input::placeholder {
        font-family: "Lato", sans-serif;
        color: #888888; }
      body #todo-container .add-container .add-button {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #ffffff;
        width: 60px;
        height: 45px;
        margin-left: 10px;
        border: 0;
        border-radius: 3px; }
