@import 'variebles';
@import 'mixins';

body {
    width: 100%;
    height: 100vh;
    background-color: $medium-bg-grey;
    margin: 0;
    font-family: $main-font-family;
    @include main-flex;

    #todo-container {
        width: 100%;
        height: auto;
        background-color: $medium-bg-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1, h2 {
            text-transform: uppercase;
            font-size: 22px;
            color: $main-font-color;
            text-align: center;
        }

        h2 {
            font-size: 20px;
            color: $main-font-color;
        }

        .sort-button {
            font-family: $main-font-family;
            font-size: $main-font-size;
            text-transform: uppercase;
            color: $main-font-color;
            background-color: $dark-bg-grey;
            width: 45px;
            height: 30px;
            display: block;
            @include button-border;
        }

        ul {
            width: 60%;
            height: auto;
            margin: auto 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            li {
                width: 60%;
                height: 30px;
                font-size: $main-font-size;
                list-style: none;
                color: $main-font-color;
                padding: 10px;
                padding-top: 30px;
                margin: 10px;
                margin-left: -20px;
                background-color: $light-bg-grey;
                border-radius: 6px;
                text-overflow: elipsis;
                display: flex;

                .delete-button{
                    background: transparent;
                    background-image: url('../img/garbage.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100%;
                    border: 0px solid transparent;
                    outline: none;
                    margin-left: auto;
                    text-decoration: none;
                }
            }
        }

        .add-container {
            width: 100%;
            height: 60px;
            margin-bottom: 20px;
            margin-top: 30px;
            @include main-flex;
            justify-content: center;

            #addlist-box {
                width: 30%;
                height: 60px;
                background-color: $dark-bg-grey;
                font-family: $main-font-family;
                color: $main-font-color;
                padding-left: 10px;
                border: 0;
                border-radius: 6px;
            }

            input::placeholder {
                font-family: $main-font-family;
                color: #888888;
            }

            .add-button {
                font-family: $main-font-family;
                font-size: $main-font-size;
                text-transform: uppercase;
                background-color: $main-font-color;
                width: 60px;
                height: 45px;
                margin-left: 10px;
                @include button-border;
            }
        }
    }
}





